// colors
$primary: #FF5633;
$black: #444;
$white: whitesmoke;
$yellow: rgb(238, 223, 93);

// body 
body {
    width: 100%;
    height: 100vh;
    font-family: 'Merriweather Sans', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $white;
}
// logo 
.Logo {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 3rem;
    color: $white;
    background-color: $primary;
    padding: 15px;
    border-radius: 100%;
}
// nav 
.Nav {
    width: 100%;

    nav {
        position: fixed;
        right: 60px;
        top: 100px;

        @media screen and (max-width: 1300px) {
            right: 30px;
        }
        @media screen and (max-width: 1300px) {
            right: 10px;
        }
        
        ul {
            display: flex;
            align-items: center;

            li {
                font-size: 1.5rem;
                margin: 10px;
                padding: 5px;

                @media screen and (max-width: 1300px) {
                    font-size: 1.2rem;
                }
            }
        }
    }
}
.NavLinks {
    text-decoration: none;
    color: $black;
}
.active {
    color: $white;
    background-color: $primary;
    border-radius: 5px;
}
.NavContainerImg {
    right: 0;
    width: 1700px;
    height: 1100px;
    position: fixed;

    @media screen and (max-height: 850px) {
        height: 1000px;
    }
    @media screen and (max-height: 800px) {
        height: 900px;
    }
    @media screen and (max-width: 1500px) {
        width: 1500px;
    }
    @media screen and (max-width: 1300px) {
        width: 1300px;
    }
    @media screen and (max-width: 1100px) {
        width: 1100px;
    }
}
// display current weather
.DisplayCurrent {
    position: fixed;
    top: 50px;
    left: 50px;

    h1 {
        font-size: 3rem;
        padding: 5px;
    }
    h2 {
        font-size: 2rem;
        padding: 5px 25px;
        color: lightgray;
    }
}
.Temp {
    display: flex;
    align-items: center;
}
.OtherData {
    font-size: 1.5rem;
    padding: 5px 20px;
    color: lightgray;
    
    h3 {
        padding: 5px;
    }
}
// loading gif icon
.Loading {
    position: fixed;
    top: 90px;
    left: 70px;
    width: 250px;
}
